.nav {
    display: flex;
    justify-content: space-around;
    background-color: gold;
}
.nav_item {

}
.item {
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}
